@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

// Font Family
$font-family-nunito: 'Nunito', sans-serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font Style
$font-style-normal: normal;

// Colors
$color-black: #323232;
$color-white: #FFF2F9;
$color-pink: #FA4EAB;
$color-light-pink: #FE83C6;